/****************
* Global Design *
*****************/
.active {
	
background-color: ghostwhite;
	
font-weight: bold;
}
ul li, a {
	list-style-type: none;
	text-decoration: none;
	color: #959595;
}
.navbar{
	background-color: white;
	opacity: 0.9;
}
/****************
* Mobile Devices *
*****************/
@media (max-width: 768px){
	.caption{
		
text-align: center;
	}
	div.caption p {
		
font-size: 10px;
	}
	div.caption h4 {
		
font-weight: bold;
		
text-transform: uppercase;
		
font-size: 14px;
	}
	.womenHome.shoes{
		
padding: 1.5em;
	}
	.womenHome.shoes img {
	margin-left: 0.5em;
	}
	.womenElements{
		
display: flex;
		
flex-flow: column wrap;
		
align-items: center;
	}
	.womenHome img {
		
width: 100%;
		
height: 100%;
	}
	.womenHome{
		
width: 80%;
		
margin-bottom: 0em;
		
box-shadow: none;
		
border: 0px none;
	}

	.navbar-header{
	background-color: white;
	}
	
	.navbar-nav{
		background-color: rgba(255, 255, 255, 0.9);
	}
	.nav>li, .navbar-nav .open .dropdown-menu>li>a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.34);
		text-align: center;
		/* font-weight: bold; */
		font-stretch: expanded;
		color: #c2b3ab;
	}
	.navbar-toggle{
		/* float: left; */
	}
	.navbar-brand > img{
	height: 1.7em;
	}
	.navbar-brand{
	}
	.menu{
		
position: absolute;
		
/* margin-top: 6em; */
		
text-align: left;
		
margin-left: 1.3em;
		
bottom: 10em;
	}
	.menuItems{
		
font-size: 4rem;
		
margin-left: -1em;
		
font-weight: bold;
		
line-height: 110%;
	}
	.brandName{
		
position: absolute;
		
top: 0;
		
right: 1em;
	}
	.homeImage{
		position: absolute;
		width: 90%;
		margin-left: 1.3em;
		overflow: hidden;
	}
	.homeImage img {
		
margin: auto;
		
width: 100%;
		
overflow: hidden;
		
/* position: relative; */
	}
	.homeElements{
	margin: auto;
	margin-top: 5em;
	width: 100%;
	overflow: hidden;
	/* margin-left: 1em; */
	}

}
@media (min-width: 769px){
		nav{
    background-color: white;
}
	.navbar-header{
	background-color: white;
	position: fixed;
	}
	
	.navbar-nav{
		background-color: rgba(255, 255, 255, 1);
		float: right;
		display: inline-block;
		text-align: center;
	}
	.nav>li, .navbar-nav .open .dropdown-menu>li>a {
		/* border-bottom: 1px solid rgba(0, 0, 0, 0.34); */
		text-align: center;
		/* font-weight: bold; */
		font-stretch: expanded;
		color: #c2b3ab;
	}
	.navbar-toggle{
		/* float: left; */
	}
	.navbar-brand > img{
	width: 12em;
	position: relative;
	float: left;
	}
	.navbar-brand{
	}
	.menu{
		
position: absolute;
		
/* margin-top: 6em; */
		
text-align: left;
		
margin-left: 1.3em;
		
bottom: 10em;
	}
	.menuItems{
		
font-size: 4rem;
		
margin-left: -1em;
		
font-weight: bold;
		
line-height: 110%;
	}
	.brandName{
		
position: absolute;
		
top: 0;
		
right: 1em;
	}
	.homeImage{
		position: absolute;
		width: 90%;
		margin-left: 1.3em;
		overflow: hidden;
	}
	.homeImage img {
		
margin: auto;
		
width: 100%;
		
overflow: hidden;
	}
	.homeElements{
	margin: auto;
	margin-top: 6em;
	width: 100%;
	overflow: hidden;
	/* margin-left: 1em; */
	}

}
/****************
* Global Design *
*****************/
/****************
* Global Design *
*****************/